@import url(https://fonts.googleapis.com/css?family=Inter:400,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap);
$fontFamily: 'Roboto';
$fontSize: 18px;

$mainColor: #101010;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 800px;
$containerPadding: 30px;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
#root {
	height: 100%;
	min-width: 320px;
}

@import 'null.scss';

body {
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}
._container {
	max-width: $containerWidth;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 15px;
}
@import 'signin.scss';
@import 'sidebar.scss';
@import 'home.scss';
@import 'footer.scss';
@import 'ui.scss';
