.page {
	display: flex;
	width: 100%;

	&__sidebar {
	}
	&__main {
	}
}

.main {
	margin-top: 29.5px;
	padding: 0 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__vacancies {
	}
}
// Vacancies //////////////////////////////////////////////////////////////////

.header {
	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__title {
	}

	&__btn {
	}
}
.vacancies {
	&__header {
	}
	&__search {
		display: flex;
		align-items: center;
		margin-bottom: 28px;
	}

	&__search-form {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-right: 32px;
	}
	&__search-bar {
		display: flex;
		align-items: center;
		padding: 0px 12px;
		height: 48px;
		background: #ffffff;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		width: 100%;
		@media (min-width: 1333px) {
			width: 480px;
		}
	}
	&__search-icon {
		margin-right: 9.69px;
	}

	&__search-input {
		outline: none;
		border: none;
		background: inherit;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #5a6e85;
		width: 100%;
	}
	&__search-btn {
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		color: #0f3a8c;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		padding: 0 20px;
	}

	&__checkboxes {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__checkbox-item {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__checkbox {
	}

	&__checkbox-text {
		padding-top: 1px;
	}
	&__filter {
	}
	&__table {
	}
	&__no-results {
		color: #0f3a8c;
	}
	&__navbar {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
	}
}

.navbar {
	&__pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		gap: 8px;
		height: 48px;
	}
	&__text {
		color: #0f3a8c;
	}
}
.pagination__btn--disabled {
	opacity: 0.4;
}
.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 28px;

	&__dropdown {
		position: relative;
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__text {
		font-weight: 500;
		line-height: 150%;
		color: #0f3a8c;
	}
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		z-index: 9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__modal {
		position: absolute;
		max-width: 1012px;
		width: 100%;

		z-index: 10;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		background: #f7f9fd;
	}

	&__modal-body {
		position: relative;
	}

	&__modal-header {
		width: 100%;
		padding: 49.5px 40px 41.5px 40px;
	}
	&__modal-close {
		position: absolute;
		right: 52px;
		top: 52px;
		z-index: 5;
		transition: opacity 0.3s ease 0s;
		&:hover {
			opacity: 0.5;
		}
	}
	&__modal-content {
		padding: 0 40px 32px 40px;
		display: grid;
		grid-column-gap: 16px;
		column-gap: 16px;
		row-gap: 24px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	&__modal-item {
	}

	&__modal-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		color: #5a6e85;
	}

	&__modal-dropdown {
		margin-top: 4px;
		align-items: center;
		display: flex;
		position: relative;
		cursor: text;
		height: 48px;
		background: #ffffff;
		border: 1px solid #b6c8e0;
		width: 100%;
		color: #5a6e85;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}
	&__modal-dropdown-select-active {
		padding-left: 8px;
		padding: 3px 0 3px 4px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 36px;
		white-space: nowrap;
	}

	&__modal-dropdown-btn {
		display: flex;
		color: #5a6e85;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		border-radius: 4px;
		outline: none;
		display: inline-block;
		padding: 0 10px;
	}
	&__modal-date-wrapper {
		display: flex;
		gap: 8px;
		margin-top: 4px;
	}
	&__modal-date-input {
		position: relative;
	}
	&__modal-text-date {
		position: absolute;
		color: #5a6e85;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		user-select: none;
		top: 11px;
		left: 12px;
	}
	&__modal-date {
		height: 47px;
		width: 300px;
		padding: 0px 10px 0px 30px;
		height: 48px;
		background: #ffffff;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		display: flex;
		align-items: center;
		text-align: center;
		outline: none;
		color: #5a6e85;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}

	&__modal-footer {
		padding: 0 40px 40px 40px;
		display: flex;
		align-items: center;
		gap: 28px;
	}

	&__modal-submit-btn {
	}

	&__modal-reset-btn {
		color: #0f3a8c;
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
	}

	&__dropdown-menu {
		position: absolute;
		padding: 6px;
		height: 139px;
		width: 363px;
		background: #ffffff;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		right: -20px;
		z-index: 5;
	}
	&__dropdown-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		color: #5a6e85;
		padding: 4px 8px 8px;
	}

	&__dropdown-item {
		display: flex;
		flex-direction: row;
		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}
	&__dropdown-btn {
		width: 100%;
		height: 47px;
		padding: 10px 8px;
		text-align: left;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #101010;
		transition: opacity 0.1s ease 0s;
		&:hover {
			opacity: 0.7;
		}
	}
}

.filter__modal-date::-webkit-inner-spin-button,
.filter__modal-date::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
.table {
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
		align-items: flex-start;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		min-height: 86px;
		padding-top: 16px;
		border-bottom: 1px solid #b6c8e0;
		justify-content: flex-start;
		position: relative;
		&_header {
			justify-content: flex-start;
			padding: 0 56px;
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			height: 72px;
			border-top: 1px solid #b6c8e0;
			border-bottom: 1px solid #b6c8e0;
			color: #5a6e85;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		background: #dbe1e9;
		border-radius: 4px;
		padding: 0 8px;
	}
	&__btn-text {
		color: #5a6e85;
	}
	&__role {
		color: #5a6e85;
	}
	&__more {
		padding: 8px 24px 0 8px;
		position: relative;
	}
	&__dropdown {
		background: #f7f9fd;
		position: absolute;
		z-index: 5;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		left: 0;
	}
	&__dropdown-menu {
		width: 300px;
		padding: 6px;
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	&__dropdown-text {
	}
	&__dropdown-btn {
		width: 100%;
		text-align: left;
		padding: 10px 8px;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #101010;
		&:hover {
			opacity: 0.5;
		}
	}
	&__cell {
		flex: 0 1 auto; /* Устанавливаем flex-shrink: 1 и flex-grow: 0 */
		&_vacancies {
			@media (max-width: 1920px) {
				max-width: 272px;
			}
			width: 100%;
		}

		&_total {
			@media (max-width: 1920px) {
				max-width: 80px;
			}
			width: 100%;
		}

		&_new {
			@media (max-width: 1920px) {
				max-width: 80px;
			}
			width: 100%;
		}

		&_status {
			@media (max-width: 1920px) {
				max-width: 176px;
			}
			width: 100%;
		}

		&_recruiter {
			@media (max-width: 1920px) {
				max-width: 272px;
			}
			width: 100%;
		}

		&_client {
			@media (max-width: 1920px) {
				max-width: 272px;
			}
			width: 100%;
		}

		&_department {
			@media (max-width: 1920px) {
				max-width: 176px;
			}
			width: 100%;
		}

		&_city {
			@media (max-width: 1920px) {
				max-width: 176px;
			}
			width: 100%;
		}

		&_dataofcreation {
			@media (max-width: 1920px) {
				max-width: 176px;
			}
			width: 100%;
		}
	}
}

// Candidates //////////////////////////////////////////////////////////////////
