.page {
	&__sidebar {
	}
}
.sidebar {
	// width: 80px;
	min-height: 100vh;
	min-width: 80px;
	background-color: #f7f9fd;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__logo {
		margin-top: 20px;
		margin-bottom: 42.34px;
	}

	&__body {
		padding: 0 4px;
		width: 100%;
		flex-grow: 1;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100vh;
		border-radius: 4px;
		height: 82px;
		transition: background-color 0.3s ease 0s;

		&_search {
			height: 96px;
		}

		&:hover {
			background-color: #e0e8f4;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 120%;
		color: #0f3a8c;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 28px;
		margin-bottom: 16px;
	}

	&__info-btn {
	}

	&__alert-btn {
	}

	&__profile-avatar {
		border-radius: 50%;
	}
}
