.signin {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f7f9fd;

	&__container {
		padding: 0 10px;
	}
	&__body {
		max-width: 580px;
		width: 100%;
		padding: 50px;
		background: #ffffff;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
	}
	&__header {
		margin-bottom: 50px;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}
	&__reset-title {
		text-align: center;
		margin-bottom: 20px;
	}
	&__reset-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 30px;
		text-align: center;
	}
	&__label {
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		color: #5a6e85;
	}

	&__input {
		width: 100%;
		border: 1px solid #b6c8e0;
		border-radius: 4px;
		padding: 0px 48px 0px 12px;
		height: 48px;
		outline: none;
	}
	&__input-container {
		position: relative;
		margin-bottom: 16px;
		margin-top: 8px;
	}
	&__viewpass {
		position: absolute;
		top: 0;
		right: 0;
		&:hover {
			opacity: 0.5;
		}
	}
	&__not-reg {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #5a6e85;
		margin-bottom: 36px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {
		height: 48px;
		background: #ff4b5f;
		border-radius: 4px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0px 20px;
		min-width: 120px;
		color: #ffffff;
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
	}

	&__footer-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #0f3a8c;
		&:hover {
			opacity: 0.7;
		}
	}
	&__footer-reset-container {
		margin-top: 56px;
	}
	&__footer-reset-password {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}
