.sidebar__item .active-link {
	background-color: #e0e8f4;
}
.title {
	font-weight: 500;
	font-family: 'Inter';
	font-size: 24px;
	line-height: 120%;
}
.btn {
	display: inline-flex;
	align-items: center;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
	background-color: #ff4b5f;
	height: 48px;
	padding: 0 20px;
	gap: 8px;
	border-radius: 4px;
}
input[type='checkbox'] {
	width: 20px;
	height: 20px;
	opacity: 0;
	position: absolute;
}
input[type='checkbox'] + label {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

input[type='checkbox'] + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #0f3a8c;
	border-radius: 4px;
	background-color: #fff;
}

input[type='checkbox']:checked + label:before {
	background-color: #0f3a8c;
}
input[type='checkbox'] + label:after {
	content: '';
	position: absolute;
	width: 13.08px;
	height: 10.48px;
	left: 4px;
	top: 4.21px;
	background-image: url('/check.svg');
	background-size: cover;
	background-position: center;
}
